@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Bebas Neue";
}

html {
  scroll-behavior: smooth;
}

P {
  color: rgb(159, 7, 209);
}

/*Desktop Nav*/
nav,
.nav-links {
    display:flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height:20vh ;
}
.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a:hover{
    color:purple;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: blueviolet;
}

.logo {
    font-size: 2rem;
}

.logo:hover{
    cursor:pointer;
}